<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.johnfnash.learn.shiro.system.mapper.SysPermissionMapper">
	
   <select id="findPermissionCodesByUser" resultType="String">
   		select P.ID from T_SYS_PERMISSION p
		join T_SYS_ROLE_PER_REL rel on rel.PER_ID = p.ID
		join T_SYS_USER_ROLE_REL ur on ur.ROLE_ID = rel.ROLE_ID
		where p.STATE = 1 and ur.USER_ID = #{userId}		
   </select>
   
</mapper>